#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.pyc
popupcad/export/*.png
popupcad/export/*.svg
build
popupcad/docs/source/modules.rst
popupcad/docs/source/popupcad.algorithms.rst
popupcad/docs/source/popupcad.constraints.rst
popupcad/docs/source/popupcad.convert.rst
popupcad/docs/source/popupcad.filetypes.rst
popupcad/docs/source/popupcad.geometry.rst
popupcad/docs/source/popupcad.graphics2d.rst
popupcad/docs/source/popupcad.graphics3d.rst
popupcad/docs/source/popupcad.manufacturing.rst
popupcad/docs/source/popupcad.materials.rst
popupcad/docs/source/popupcad.pypoly2tri.rst
popupcad/docs/source/popupcad.rst
popupcad/docs/source/popupcad.supportfiles.rst
popupcad/docs/source/popupcad.widgets.rst
dist/*
